body{
  background-image: url('/plugins/home.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#Eserve{
    
    position: fixed;
      width: 230px;
      height: 75px;
      left: 75px;
      top: 120px;
      
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 75px;
      
      
      color: #1A3453;
  }

  #p1{
    font-family: Arial, Helvetica, sans-serif ;
    position: fixed;
          width: 605px;
          height: 132px;
          left: 75px;
          top: 240px;
          font-size: 36px;
  }
  #img1{
    position: fixed;
    width: 641.26px;
    height: 381.13px;
    left: 780px;
    top: 100px;
  }
  .rectangle {
    position: fixed;
    width: 197px;
    height: 96px;
    background: #1A3453;
    border-radius: 16px;

    /* Grow or Zoom effect */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Text styling */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DCEBFE;
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-decoration: none; 
    transition: background-color 0.5s; 
  }
  


  .rectangle:hover {
    background-color: #12263d;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  #rect1 {
    
    left: 130px;
    top: 620px;
  }
  
  #rect2 {
    left: 459px;
    top: 620px;
  }
  
  #rect3 {
    left: 1117px;
    top: 620px;
  }
  
  #rect4 {
    left: 788px;
    top: 620px;
  }
  @media (max-width: 1440px){
    #Eserve{
      width: 120px;
      left: 120px;
      top: 140px;
      font-size: 46px;
    }
    #p1{
      width: 490px;
      left: 120px;
      top: 220px;
      font-size: 28px;
    }
    #img1 {
      width: 500px;
      height: 300px;
      left: 700px;
      top: 110px;
    }
    .rectangle{
      position: absolute;
      width: 160px;
    }
    #rect1 {
      
      left: 120px;
      top: 560px;
    }
    
    #rect2 {
      left: 410px;
      top: 560px;
    }
    
    #rect3 {
      left: 1000px;
      top: 560px;
      
    }
    
    #rect4 {
      left: 700px;
      top: 560px;
    }
  
  }
  
  @media (min-width: 1471px) {
    #Eserve{
      width: 169.79px;
      left: 166.49px;
      top: 205.65px;
      font-size: 58px;
    }
    #p1{
      width: 544.49px;
      left: 166.49px;
      top: 290px;
      font-size: 38px;
    }
    #img1 {
      width: 671.26px;
      left: 1090px;
      top: 164.37px;
    }
    .rectangle{
      position: absolute;
      width: 200px;
    }
    #rect1 {
      
      left: 250px;
      top: 740px;
    }
    
    #rect2 {
      left: 650px;
      top: 740px;
    }
    
    #rect3 {
      left: 1450.19px;
      top: 740px;
      
    }
    
    #rect4 {
      left: 1050px;
      top: 740px;
    }
  
  }


  .blink_me {
    color: red;
  animation: blinker 1s linear infinite;
}



.dhcp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-text {
  margin-top: 8px;  
  font-size: 0.9em; 
}

.rectangle {

  display: flex;
  justify-content: center;
  align-items: center;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.running {
  color: #0f9962; /* Green color for running state */
}
.not-running {
  color: #ab184b; /* Red color for not running state */
}



.ftp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}