

/* General styles */
 body {
  background-image: url('/plugins/HTTP.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container styling */
.container {
  position: relative;
  width: 100%;
  max-width: 800px;
}

/* Back button */
.back-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #1a3453;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 15px;
    left: 50px;
    outline: none;
}

.back-button:hover {
    transform: scale(1.1);
    background-color: #12243a;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

.back-button:active{
    transform: scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-left: 3px solid white;
    border-top: 3px solid white;
    transform: rotate(-45deg);
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}


/* Card styling */
.settings-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  margin: auto;
}

/* Input groups */
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-group div {
  width: 48%;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.upload-btn, .save-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.upload-btn {
  background: #f0f0f0;
}

.save-btn {
  background: #4a90e2;
  color: white;
}


.request { 
  
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 margin-left: 30px;
  
}